.app-settings-form-container {
  width: auto;
  margin: auto;
  margin-top: 15px;
  margin-right: 15px;
}
.app-settings-mat-button {
  border-collapse: collapse;
  color: #636363;
  border-radius: 2px;
  border-spacing: 2px;
  padding: 10px;
  background-color: white;
  margin-left: auto;
}
.app-settings-container {
  display: flex;
  flex-direction: column;
}
.app-settings-page-title {
  color: #636363;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  display: flex;
}
.app-settings-data-row {
  width: 100%;
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
}
