<div class="app-settings-sidenav-container" *ngIf="!hasRoleAdmin">
  <mat-sidenav-container class="example-sidenav-fab-container">
    <mat-sidenav #sidenav mode="side" opened="true">
      <div class="mat-raised-button-flex">
        <button class="mat-raised-button" mat-raised-button class="filetypes" routerLink="/app-settings/file-types">
          File
          types
        </button>
        <button class="mat-raised-button" mat-raised-button>Download settings</button>
        <button  class="mat-raised-button" mat-raised-button>Asset settings</button>
        <button class="mat-raised-button" mat-raised-button>User settings</button>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>

</div>

