@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.blue {
  color: #3f51b5;
}

.mat-icon-button {
  position: fixed;
  right: 5%;
  bottom: 5%;
}

.add-file-type-button-position {
  position: relative;
  float: right;
  z-index: 10;
}

.form-file-type {
  position: relative;
}

.file-type-content {
  color: #636363;
  font-family: inherit;
  position: absolute;
  width: 100%;
  overflow-y: visible;
}

.add-file-type-button-position {
  position: absolute;
  float: right;
  z-index: 10;
}

.wrapper {
  margin-top: 5%;
  margin-left: 20%;
  list-style-type: none;
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-gap: 30px;
}

.box i {
  position: relative;
  float: right;
  margin: 5px;
  font-size: 24px;
}

.box {
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;
  background-color: rgba(248, 255, 249, 0.02);

  -webkit-box-shadow: 0px 0px 27px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 27px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 27px -4px rgba(0, 0, 0, 0.75);

  text-align: center;
}

.files-container {
  background-color: rgba(20, 66, 122, 0.65);
  position: fixed;
  height: 103%;
  width: 100%;
  margin-top: -4.8%;
}

.files-container i {
  font-size: 48px;
  color: rgba(232, 232, 232, 0.62);
  position: relative;
  margin-top: 5%;
  margin-left: 92%;
}

.size-32 {
  font-size: 32px;
}

.position-center {
  text-align: center;
}

