<div class="file-type-content">
  <label *ngIf="error!=null"> {{error}}</label>

  <div class="add-file-type-button-position">
    <button mat-icon-button>
      <mat-icon (click)="createAsset()">
        <i class="material-icons md-48 blue" aria-hidden="true">add_circle</i>
      </mat-icon>
    </button>
  </div>


  <ul class="wrapper">
    <li class="box" *ngFor="let element of assets" (click)="loadFiles(element.id)">
      <h2>{{element.name}}</h2>
      <p>{{element.description}}</p>
    </li>
  </ul>

</div>

<div class="files-container" *ngIf="showFiles">
  <i class="material-icons" (click)="showFiles = false">clear</i>
  <app-asset-files [files]="files" (onChanged)="hideFiles($event)"></app-asset-files>
</div>

