@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

.asset-containers li{
  display: inline-block;
  color: #606060;
}

.asset-containers{
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}

@media (max-width: 550px) {
  .asset-containers li {
    display: block;
  }

  .asset-containers {
    padding: 25px 0 20px;
    margin: 0 30px;
  }
}
