<div class="file-type-content">
  <label *ngIf="error!=null"> {{error}}</label>

  <div class="add-file-type-button-position">
    <button mat-icon-button>
      <mat-icon (click)="createAsset()">
        <i class="material-icons md-48 blue" aria-hidden="true">add_circle</i>
      </mat-icon>
    </button>
  </div>


  <ul class="wrapper">
    <li class="box" *ngFor="let asset of assets" (click)="loadFiles(asset.id)" >
      <i class="material-icons md-48" matTooltip="{{asset.description}}">archive</i>
      <h3>{{asset.name}}</h3>
    </li>
  </ul>
</div>

<div class="files-container" *ngIf="showFiles">
  <i class="material-icons" (click)="showFiles = false">clear</i>
  <app-asset-files [files]="files" (onChanged)="hideFiles($event)"></app-asset-files>
</div>

