<div class="register-form-container">
  <div class="register-form">
    <form class="register-data-form mat-elevation-z2" (ngSubmit)="tryCreateFileType()" #createForm="ngForm">
      <div class="register-text-container">
        <h2 class="register-page-title">Add new file type</h2>
        <h3 class="register-page-error" [hidden]="error.length == 0">
          {{error}}
        </h3>
      </div>
      <mat-input-container class="register-data-row">
        <input matInput placeholder="Name of file type" id="name" required minlength="{{minFileTypeName}}"
               maxlength="{{maxFileTypeName}}"
               [(ngModel)]="fileTypeInfo.name" name="name"
               #name="ngModel">
      </mat-input-container>
      <mat-input-container class="register-data-row">
        <input matInput placeholder="Mime-Type" id="mimeType" required minlength="{{minFileTypeMime}}" maxlength="{{maxFileTypeMime}}"
               [(ngModel)]="fileTypeInfo.mimeType" name="mimeType"
               #mimeType="ngModel">
      </mat-input-container>
      <mat-input-container class="register-data-row">
        <input matInput placeholder="Extension" id="extension" required minlength="{{minFileTypeExtension}}" maxlength="{{maxFileTypeExtension}}"
               [(ngModel)]="fileTypeInfo.extension" name="extension"
               #extension="ngModel">
      </mat-input-container>

      <button class="register-data-row register-button" type="submit" mat-raised-button color="primary"
              [disabled]="!createForm.form.valid">Add file type
      </button>
    </form>
  </div>
</div>
