<div class="asset-create-form-container">
  <div class="asset-create-form">
    <h2 class="asset-create-page-title">Create Asset</h2>
    <h3 class="asset-create-error" [hidden]="_message.length == 0">
      {{_message}}
    </h3>
  </div>
  <form class="asset-create-form mat-elevation-z2" #userForm="ngForm">
    <div *ngIf="!viewCategory">
      <div class="create_asset-data-block">
        <mat-input-container class="create-asset-data-row">
          <input matInput placeholder="Asset name" id="AssetName"
                 [(ngModel)]="info.name"
                 name="name"
                 #name="ngModel">
        </mat-input-container>
      </div>
      <div class="create_asset-data-block">
        <mat-input-container class="create-asset-data-row">
          <input matInput placeholder="Asset description" id="AssetDescription"
                 [(ngModel)]="info.description"
                 name="description"
                 #description="ngModel">
        </mat-input-container>
      </div>
      <div class="asset-files">
        <label class="file-input">
          <input type="file" accept="application/zip" (change)="selectFile($event)">
        </label>
      </div>
    </div>
    <div>
      <button *ngIf="!viewCategory" (click)="changeViewCategory()">Choose category</button>
      <app-choose-asset-category *ngIf="viewCategory" (onChanged)="onChanged($event)"></app-choose-asset-category>
      <ul class="menu-main">
        <li *ngFor="let p of _path">
          <div>
            {{p.name}}
          </div>
        </li>
      </ul>
    </div>
    <button *ngIf="!viewCategory" class="create-asset-button" (click)="tryCreate()" mat-raised-button color="primary"
            [disabled]="!isValid()"> create
    </button>
  </form>
{{info.category_id}}

</div>
