<h1>Choose category</h1>
<h3 class = "Asset catgister-page-error" [hidden]="error.length == 0">
  {{error}}
</h3>
<ul class="menu-main">
  <li *ngFor="let p of path">
    <div (click)="setTopOfPath(p.id)">
      {{p.name}}
    </div>
  </li>
</ul>
<div class="container">
  <ul class="components">
    <li class="category-container" *ngFor="let category of categories">
      <i class="material-icons" *ngIf="label" (click)="getCategoryId(category.id)">check_circle</i>
      <div class="category-content" (click)="loadChildren(category.name, category.id)">
        <h3>{{category.name}}</h3>
        <p>{{category.description}}</p>
      </div>
    </li>
  </ul>
</div>

