<div class="file-type-content">
  <mat-table class="file-type-table" #table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell class="file-type-mat-header-cell" *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell class="file-type-mat-cell" *matCellDef="let element"> {{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="mimeType">
      <mat-header-cell class="file-type-mat-header-cell" *matHeaderCellDef> Mime-Type</mat-header-cell>
      <mat-cell class="file-type-mat-cell" *matCellDef="let element"> {{element.mimeType}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="extension">
      <mat-header-cell class="file-type-mat-header-cell" *matHeaderCellDef> Extension</mat-header-cell>
      <mat-cell class="file-type-mat-cell" *matCellDef="let element"> {{element.extension}}</mat-cell>
    </ng-container>

    <mat-header-row class="file-type-mat-header-cell" *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<div class="add-file-type-button-position">
  <button  mat-icon-button [routerLink]="['./add'] ">
    <mat-icon><i class="material-icons md-48 blue position shadow" aria-hidden="true">add_circle</i></mat-icon>
  </button>
</div>

<div class="form-file-type">
  <router-outlet></router-outlet>
</div>

