<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="mimeType">
      <mat-header-cell *matHeaderCellDef> Mime-Type</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.mimeType}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="extension">
      <mat-header-cell *matHeaderCellDef> Extension</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.extension}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<div class="app-settings">
  <button mat-button [routerLink]="['./add'] ">
    Add file type
  </button>
</div>

<div >
  <router-outlet></router-outlet>
</div>
