<mat-sidenav-container class="menu-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="menu-sidenav">
   <ul>
     <li>
       <a  routerLinkActive="active"
     </li>
   </ul>

    <!-- <button  class = "menu-button" type="button" mat-button>
      User Settings
    </button>
    <button  class = "menu-button" type="button" mat-button>
      Upload Setting
    </button>
    <button class = "menu-button" type="button" mat-button>
      File Settings
    </button>
    <button class = "menu-button" type="button" mat-button>
      Asset Settings
    </button>-->
  </mat-sidenav>

  <div class="menu-sidenav-content">

  </div>

</mat-sidenav-container>
