<mat-sidenav-container class="menu-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="menu-sidenav">
    <a class="menu-button" mat-button color="primary" [routerLink]="['/menu', {outlets: {'settings': ['user']}}]">
      User setting
    </a>
    <a class="menu-button" mat-button color="primary" [routerLink]="['/menu', {outlets: {'settings': ['upload']}}]">
      Upload setting
    </a>
    <a class="menu-button" mat-button color="primary" [routerLink]="['/menu', {outlets: {'settings': ['file']}}]">
      File setting
    </a>
    <a class="menu-button" mat-button color="primary" [routerLink]="['/menu', {outlets: {'settings': ['asset']}}]">
      Asset setting
    </a>

  </mat-sidenav>

  <div class="menu-sidenav-content">
    <router-outlet name="settings"></router-outlet>
  </div>

</mat-sidenav-container>
