<h1>Asset category settings</h1>
<ul class="menu-main">
  <li *ngFor="let p of path">
    <div>{{p.name}}</div>
  </li>
</ul>
<div class="container">
  <ul class="components">
    <li class="category-container" *ngFor="let category of categories | async">
      <i class="material-icons">clear</i>
      <div class="category-content">
        <h3>{{category.name}}</h3>
        <p>{{category.description}}</p>
      </div>
    </li>
    <li class="add-container">
      <i class="material-icons md-56" *ngIf="!trigger" (click)="switchTrigger()">add_circle_outline</i>
      <form class="input-form" *ngIf="trigger">
        <mat-form-field class="input-form-field">
          <input matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field class="input-form-field">
          <textarea matInput placeholder="Description"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="switchTrigger()">Cancel</button>
        <button mat-raised-button color="primary">Add</button>
      </form>
    </li>
  </ul>
</div>

